@import "tailwindcss";

@font-face {
    font-family: 'Cambria';
    src: url('assets/fonts/cambria/Cambria.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('assets/fonts/cambria/Cambria-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('assets/fonts/cambria/Cambria-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@theme {
    --font-cambria: Cambria, sans-serif;
    --drop-shadow-image-xs: 0px 0px 5px rgba(0, 0, 0, 0.3);
    --drop-shadow-image-md: 0px 0px 10px rgba(0, 0, 0, 0.3);
    --color-sectioncontainer: rgba(31, 41, 55, 0.8);
}


html {
  scrollbar-gutter: stable;
}

body {
    background-color: rgb(88, 88, 99);
}

div.section-divider {
    @apply block h-[1px] w-full bg-white/80 border-0;
}

div.sub-section-divider {
    @apply block h-[0.5px] w-full bg-white/30 border-0;
}

section.section-container {
    @apply bg-sectioncontainer p-6 rounded-lg;
}
